@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<p>
    Hi, I'm Andrew Godfroy. I'm a Software Developer with an Advanced Diploma in Game Programming.
    I'm a driven and extremely enthusiastic Software Programmer.
</p>

<p>
    I am proficient in a variety of languages and have worked on apps for the Windows Phone,
    Windows and Android Platforms with intent to begin looking into iOS Development.
    In my spare time I have taken the time to learn WPF with MVVM and went through the PHP and jQuery courses
    on CodeAcademy in addition to having begun to look at the Ruby Programming Language.
</p>

<p>
    I believe that Programming is a challenging and incredibly rewarding experience.
    One that is both parts creative as it is technical and is a skillset that requires you to ensure that you
    never stop learning in an effort to improve your skills.
</p>

<p>
    Most of the info here is also on my LinkedIn,
    and you can check out my other active projects over on my GitHub
</p>