@{
    ViewBag.Title = "Contact";
}

<row>
    <h2>@ViewBag.Title</h2>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>Andrew Godfroy</dd>
        <dt>Email</dt>
        <dd><a href="mailto:andrew.godfroy@outlook.com">andrew.godfroy@outlook.com</a></dd>
        <dt>Location</dt>
        <dd>Ontario, Canada</dd>
    </dl>

    <h3>Social</h3>
    <a href="https://ca.linkedin.com/in/andrewgodfroy">LinkedIn</a><br />
    <a href="https://twitter.com/killerrin">Twitter</a><br />
    <a href="https://github.com/killerrin">GitHub</a><br />
</row>